@import "../../style.css";

.item {
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
	color: #fff;
  font-size: 20px;
  text-align: center;
	line-height: 35px;
  width: 230px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 15px;
  font-weight: 300;
	margin: 5px;
	vertical-align: middle;
}

.register-container{
	font-size: 15px;
}

.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
	margin-top: 0px;
	margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	padding: 10px
}

.box.box-primary {
	border-top: 3px solid #d2d6de;
	border-top-color: #3c8dbc;
}

.box h3{
	font-size: 15;
}
